[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/imgui_club"]
	path = lib/imgui_club
	url = https://github.com/ocornut/imgui_club
[submodule "lib/ImGuiFileDialog"]
	path = lib/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
	branch = Lib_Only
[submodule "test/lib/doctest"]
	path = test/lib/doctest
	url = https://github.com/onqtam/doctest
[submodule "test/test_roms/gb-test-roms"]
	path = test/test_roms/gb-test-roms
	url = https://github.com/retrio/gb-test-roms
